#environments
ch01/env_ch01/
ch02/env_ch02/
ch03/env_ch03/
ch04/env_ch04/
ch05/env_ch05/
ch06/env_ch06/
ch07/env_ch07/
ch08/env_ch08/
ch09/env_ch09/
ch10/env_ch10/
ch11/env_ch11/
ch12/env_ch12/
ch13/env_ch13/
ch14/env_ch14/

# notebook checkpoints
ch01/.ipynb_checkpoints
ch02/.ipynb_checkpoints
ch03/.ipynb_checkpoints
ch04/.ipynb_checkpoints
ch05/.ipynb_checkpoints
ch06/.ipynb_checkpoints
ch07/.ipynb_checkpoints
ch08/.ipynb_checkpoints
ch09/.ipynb_checkpoints
ch10/.ipynb_checkpoints
ch11/.ipynb_checkpoints
ch12/.ipynb_checkpoints
ch13/.ipynb_checkpoints
ch14/.ipynb_checkpoints